@model IEnumerable<Desapegando.Application.Models.CondominoInativoViewModel>

@{
    Layout = "_Layout";
}



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
<section class="pt-5 pb-9" >
      <div class="container-small px-0">
      <div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
          <div class="modal-dialog">
            <div class="modal-content mt-15 rounded-pill">
              <div class="modal-body p-0">
                <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}' style="width: auto;">
                  <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input fuzzy-search rounded-pill form-control-lg" type="search" placeholder="Search..." aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>

                  </form>
                  <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
                    <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
                  </div>
                  <div class="dropdown-menu border border-300 font-base start-0 py-0 overflow-hidden w-100">
                    <div class="scrollbar-overlay" style="max-height: 30rem;">
                      <div class="list pb-3">
                        <h6 class="dropdown-header text-1000 fs--2 py-2">24 <span class="text-500">results</span></h6>
                        <hr class="text-200 my-0" />
                        <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Recently Searched </h6>
                        <div class="py-2"><a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Store Macbook</div>
                            </div>
                          </a>
                          <a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> MacBook Air - 13″</div>
                            </div>
                          </a>

                        </div>
                        <hr class="text-200 my-0" />
                        <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Products</h6>
                        <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="file-thumbnail me-2"><img class="h-100 w-100 fit-cover rounded-3" src="~/public/assets/img/products/60x60/3.png" alt="" /></div>
                            <div class="flex-1">
                              <h6 class="mb-0 text-1000 title">MacBook Air - 13″</h6>
                              <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                            </div>
                          </a>
                          <a class="dropdown-item py-2 d-flex align-items-center" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="file-thumbnail me-2"><img class="img-fluid" src="~/public/assets/img/products/60x60/3.png" alt="" /></div>
                            <div class="flex-1">
                              <h6 class="mb-0 text-1000 title">MacBook Pro - 13″</h6>
                              <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                            </div>
                          </a>

                        </div>
                        <hr class="text-200 my-0" />
                        <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Quick Links</h6>
                        <div class="py-2"><a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"><span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Support MacBook House</div>
                            </div>
                          </a>
                          <a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"> <span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                            </div>
                          </a>

                        </div>
                        <hr class="text-200 my-0" />
                        <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Files</h6>
                        <div class="py-2"><a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"><span class="fa-solid fa-file-zipper text-900" data-fa-transform="shrink-2"></span> Library MacBook folder.rar</div>
                            </div>
                          </a>
                          <a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"> <span class="fa-solid fa-file-lines text-900" data-fa-transform="shrink-2"></span> Feature MacBook extensions.txt</div>
                            </div>
                          </a>
                          <a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"> <span class="fa-solid fa-image text-900" data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg</div>
                            </div>
                          </a>

                        </div>
                        <hr class="text-200 my-0" />
                        <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Members</h6>
                        <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="~/public/pages/members.html">
                            <div class="avatar avatar-l status-online  me-2 text-900">
                              <img class="rounded-circle " src="~/public/assets/img/team/40x40/10.webp" alt="" />

                            </div>
                            <div class="flex-1">
                              <h6 class="mb-0 text-1000 title">Carry Anna</h6>
                              <p class="fs--2 mb-0 d-flex text-700">anna@technext.it</p>
                            </div>
                          </a>
                          <a class="dropdown-item py-2 d-flex align-items-center" href="~/public/pages/members.html">
                            <div class="avatar avatar-l  me-2 text-900">
                              <img class="rounded-circle " src="~/public/assets/img/team/40x40/12.webp" alt="" />

                            </div>
                            <div class="flex-1">
                              <h6 class="mb-0 text-1000 title">John Smith</h6>
                              <p class="fs--2 mb-0 d-flex text-700">smith@technext.it</p>
                            </div>
                          </a>

                        </div>
                        <hr class="text-200 my-0" />
                        <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Related Searches</h6>
                        <div class="py-2"><a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"><span class="fa-brands fa-firefox-browser text-900" data-fa-transform="shrink-2"></span> Search in the Web MacBook</div>
                            </div>
                          </a>
                          <a class="dropdown-item" href="~/public/apps/e-commerce/landing/product-details.html">
                            <div class="d-flex align-items-center">

                              <div class="fw-normal text-1000 title"> <span class="fa-brands fa-chrome text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                            </div>
                          </a>

                        </div>
                      </div>
                      <div class="text-center">
                        <p class="fallback fw-bold fs-1 d-none">No Result Found.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <nav class="mb-2" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
              <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
              <li class="breadcrumb-item active">Default</li>
            </ol>
          </nav>
          <div class="mb-9">
            <div class="row g-2 mb-4">
              <div class="col-auto">
                <h2 class="mb-0">Condôminos</h2>
              </div>
            </div>
            <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
@*              <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">All <span class="text-700 fw-semi-bold">(68817)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">New <span class="text-700 fw-semi-bold">(6)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Abandoned checkouts <span class="text-700 fw-semi-bold">(17)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Locals <span class="text-700 fw-semi-bold">(6,810)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Email subscribers <span class="text-700 fw-semi-bold">(8)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Top reviews <span class="text-700 fw-semi-bold">(2)</span></a></li>*@
            </ul>
            <div id="products" data-list='{"valueNames":["customer","email","total-orders","total-spent","city","last-seen","last-order"],"page":10,"pagination":true}'>
              <div class="mb-4">
                <div class="row g-3">
                  <div class="col-auto">
                    <div class="search-box">
                      <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                        <input class="form-control search-input search" type="search" placeholder="Search customers" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>

                      </form>
                    </div>
                  </div>
                  <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                    <div class="btn-group position-static" role="group">
@*                      <div class="btn-group position-static text-nowrap">
                        <button class="btn btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                          Country<span class="fas fa-angle-down ms-2"></span></button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">US</a></li>
                          <li><a class="dropdown-item" href="#">Uk</a></li>
                          <li><a class="dropdown-item" href="#">Australia</a></li>
                        </ul>
                      </div>*@
@*                      <div class="btn-group position-static text-nowrap">
                        <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                          VIP<span class="fas fa-angle-down ms-2"></span></button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">VIP 1</a></li>
                          <li><a class="dropdown-item" href="#">VIP 2</a></li>
                          <li><a class="dropdown-item" href="#">VIP 3</a></li>
                          <li></li>
                        </ul>
                      </div>
                      <button class="btn btn-phoenix-secondary px-7 flex-shrink-0">More filters</button>*@
                    </div>
                  </div>
                  <div class="col-auto">
                    @*<button class="btn btn-link text-900 me-4 px-0"><span class="fa-solid fa-file-export fs--1 me-2"></span>Export</button>*@
                    @*<button class="btn btn-primary"><span class="fas fa-plus me-2"></span>Add customer</button>*@
                  </div>
                </div>
              </div>
              <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                <div class="table-responsive scrollbar-overlay mx-n1 px-1">
                  <table class="table table-sm fs--1 mb-0">
                    <thead>
                      <tr>
                        <th class="white-space-nowrap fs--1 align-middle ps-0">
@*                          <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox" data-bulk-select='{"body":"customers-table-body"}' />
                          </div>*@
                        </th>
                        <th class="sort align-middle pe-5" scope="col" data-sort="customer" style="width:10%;">NOME</th>
                        <th class="sort align-middle pe-5" scope="col" data-sort="email" style="width:20%;">EMAIL</th>
                        <th class="sort align-middle text-end" scope="col" data-sort="total-orders" style="width:10%">ATIVAR CONDÔMINO</th>
                          <th class="sort align-middle text-end ps-3" scope="col" data-sort="total-spent" style="width:10%">APARTAMENTO</th>
                        <th class="sort align-middle ps-7" scope="col" data-sort="city" style="width:25%;">CPF</th>
                        <th class="sort align-middle text-end" scope="col" data-sort="last-seen" style="width:15%;">TELEFONE</th>
                        <th class="sort align-middle text-end pe-0" scope="col" data-sort="last-order" style="width:10%;min-width: 150px;">SEXO</th>
                      </tr>
                    </thead>
                  <tbody class="list" id="customers-table-body">
                  
                  
                  @foreach (var condomino in Model)
                  {
                      <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                          <td class="fs--1 align-middle ps-0 py-3">
                              <div class="form-check mb-0 fs-0">
                                  @*<input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/32.webp","name":"@condomino.Nome"}, "email":"@condomino.Email","apartamento":"@condomino.Apartamento","cpf":@condomino.Cpf, "telefone":@condomino.Telefone ,"sexo":@condomino.Sexo}'/>*@
                              </div>
                          </td>
                          <td class="customer align-middle white-space-nowrap pe-5">
                              <a class="d-flex align-items-center" href="#!">
                                  <div class="avatar avatar-m"><img class="rounded-circle" src="~/public/assets/img/team/32.webp" alt=""/>
                                  </div>
                                  <p class="mb-0 ms-3 text-1100 fw-bold">@condomino.Nome @condomino.Sobrenome</p>
                              </a></td>
                          <td class="email align-middle white-space-nowrap pe-5"><a class="fw-semi-bold" href="mailto:@condomino.Email">@condomino.Email</a></td>
                          <td class="email align-middle white-space-nowrap pe-5"><a class="fw-semi-bold" asp-controller="Administrador" asp-action="AtivarCondomino" asp-route-id="@condomino.Id">Ativar</a></td>
                          <td class="total-spent align-middle white-space-nowrap fw-bold text-end ps-3 text-1100">@condomino.Apartamento</td>
                          <td class="city align-middle white-space-nowrap text-1000 ps-7">@condomino.Cpf</td>
                          <td class="last-seen align-middle white-space-nowrap text-700 text-end">@condomino.Telefone</td>
                          <td class="last-order align-middle white-space-nowrap text-700 text-end">@condomino.Sexo</td>
                      </tr>
                  }

                  </tbody>
                  </table>
                </div>
                <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                  <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                  </div>
                  <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>
    </section>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->