@using Desapegando.Business.Models.Enums;
@model IEnumerable<Desapegando.Application.ViewModels.GetCampanhaViewModel>
@*@{
    Layout = "_Layout";
}*@






    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-5 pb-9">

            <div class="container-small cart">
                <h2 class="mb-5">Minhas Campanhas<span class="text-700 fw-normal ms-2">(@Model.Count())</span></h2>
                <div class="border-y" id="productWishlistTable" data-list='{"valueNames":["products","color","size","price","quantity","total"],"page":5,"pagination":true}'>
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0">
                            <thead>
                                <tr>
                                    <th class="sort white-space-nowrap align-middle fs--2" scope="col" style="width:7%;"></th>
                                    <th class="sort white-space-nowrap align-middle" scope="col" style="width:30%; min-width:250px;" data-sort="products">CAMPANHAS</th>
                                    <th class="sort align-middle" scope="col" data-sort="color" style="width:16%;">NOME</th>
                                    <th class="sort align-middle" scope="col" data-sort="size" style="width:10%;">NOME INSTITUIÇÃO</th>
                                    <th class="sort align-middle text-end" scope="col" data-sort="price" style="width:10%;">LOCAL DE ENCONTRO</th>
                                    <th class="sort align-middle text-end pe-0" scope="col" style="width:35%;"> </th>
                                </tr>
                            </thead>
                            <tbody class="list" id="profile-wishlist-table-body">

                                @foreach (var campanha in Model)
                            {
                                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                    <td class="align-middle white-space-nowrap ps-0 py-0">
                                        <div class="border rounded-2 d-inline-block"><img src="~/Imagens/@campanha.CampanhaImagemViewModels[0].FileName" alt="" width="53" /></div>
                                    </td>
                                    <td class="products align-middle pe-11"><a class="fw-semi-bold mb-0 line-clamp-1" asp-action="Visualizar" asp-controller="Campanha" asp-route-id="@campanha.Id">@campanha.Nome</a></td>
                                    <td class="color align-middle white-space-nowrap fs--1 text-900">@campanha.Nome</td>
                                    <td class="size align-middle white-space-nowrap text-700 fs--1 fw-semi-bold">@campanha.NomeInstituicao</td>
                                    <td class="price align-middle text-900 fs--1 fw-semi-bold text-end">@campanha.LocalDeEncontro</td>
                                    <td class="total align-middle fw-bold text-1000 text-end text-nowrap pe-0">
                                        <a class="btn btn-sm text-500 hover-text-600 me-2" asp-action="Deletar" asp-controller="Campanha" asp-route-id="@campanha.Id"><span class="fas fa-trash"></span></a>
                                        <a class="btn btn-primary fs--2" asp-action="Editar" asp-controller="Campanha" asp-route-id="@campanha.Id"><span class="fas fa-shopping-cart me-1 fs--2"></span>Editar</a>
                                    </td>
                                </tr>
                            }

   @*                             <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                    <td class="align-middle white-space-nowrap ps-0 py-0">
                                        <div class="border rounded-2 d-inline-block"><img src="../../../assets/img//products/1.png" alt="" width="53" /></div>
                                    </td>
                                    <td class="products align-middle pe-11"><a class="fw-semi-bold mb-0 line-clamp-1" href="#!">Fitbit Sense Advanced Smartwatch with Tools for Heart Health, Stress Management &amp; Skin Temperature Trends, Carbon/Graphite, One Size (S &amp; L Bands)</a></td>
                                    <td class="color align-middle white-space-nowrap fs--1 text-900">Pure matte black</td>
                                    <td class="size align-middle white-space-nowrap text-700 fs--1 fw-semi-bold">42</td>
                                    <td class="price align-middle text-900 fs--1 fw-semi-bold text-end">$57</td>
                                    <td class="total align-middle fw-bold text-1000 text-end text-nowrap pe-0">
                                        <button class="btn btn-sm text-500 hover-text-600 me-2"><span class="fas fa-trash"></span></button>
                                        <button class="btn btn-primary fs--2"><span class="fas fa-shopping-cart me-1 fs--2"></span>Add to cart</button>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                    <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="col-auto d-flex">
                            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


@*<section class="pt-5 pb-9">

</section>

@section Scripts{

}*@